 @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: rgba(11, 10, 10, 0.914);
  
}
#page1{
  height: 100vh;
  width: 100%;
   position: relative;
  padding: 0 2vw;
 /* background-image: url(../Resources/index.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;*/
  background-color: rgba(11, 10, 10, 0.914);
}

nav{
  padding: 2vw 2vw;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-family: 'Poppins', sans-serif;
  
  
  
}
#nav-part2{
  display: flex;
  
  align-items: center;
  gap: 1vw;
   
}
#nav-part2 h4{
  padding: 10px 20px;
  border: 1px solid #c5c1c17b;
  border-radius: 50px;
  font-weight: 500;
  color: #000000b3;
  position: relative;
  font-size: 12px;
  transition: all ease 0.4s;
  overflow: hidden;
}
#nav-part2 h4::after{
  content:"";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part2 h4 a{
  text-decoration: none;
  color: white;
  z-index: 9;
  position: relative;
}
#nav-part2 h4:hover a{
  color: black;
}


.log{
  height: 130px; 
  width: 130px;
  margin-top: 30px;
}
#center{
  height: 65vh;
  width: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 2.5vw;
}
#left h3{
    width: 30vw;
    font-size: 1.5vw;
    line-height: 2vw;
    color: rgba(243, 243, 59, 0.769);
}
#right h1{
  padding-bottom: 100px;
  font-size: 6vw;
  padding-right: 175px;
  line-height: 5vw;
  text-align: right;
  color: white;
}
.interior{
  height: 100%;
  width: 100%;
  border-radius: 25px;
  z-index: -1;
 
}
#page2{
  background-color: rgba(11, 10, 10, 0.914);
  min-height: 100vh ;
  width: 100%;
  padding: 8vw 0;
  position: relative;
  
}
#moving-page{
  overflow-x: auto;
  white-space: nowrap;
}
#moving-page::-webkit-scrollbar{
  display: none;
}
.con{
  white-space: nowrap;
  display: inline-block;
 animation: move;
 animation-duration: 8s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}
#moving-page h1{
    font-size: 7vw;
    display: inline-block;
    color: whitesmoke;
   
}
#gola{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ef2424;
  display: inline-block;
  margin: 1vw 2vw;
}
@keyframes move {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

#page2-bottom{
  height: 80vh;
  width: 100%;
  padding: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  color: whitesmoke;
}
#page2-bottom h1{
  width: 45%;
  font-size: 3vw;
  line-height: 3vw;
  color: rgb(0, 204, 255);
}
#bottom-part2{
  width: 30%;
  height: 50vh;
  padding-right: 2vw;
  padding-top: 3vw;
}
#bottom-part2 img{
  height: 60%;
  width: 60%;
  border-radius: 20px;
  width: auto
}
#bottom-part2 p{
  margin-top: 1vw;
  font-size: 12px;
  width: 75%;
  text-align: center;
  padding-left: 22px;
  color: orange;
}
#page3{
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: relative;
  
}
.elem{
  height: 150px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  overflow: hidden;
}
.elem h2{
  font-size: 3vw;
  color: white;
  position: relative;
  z-index: 99;
}
.elem .overlay{
  width: 100%;
  height: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.3s;
}
.elem:hover .overlay{
  top: 0;
}
#fixed-image{
  height: 30vw;
  width: 23vw;
  border-radius: 12px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
}
#loader{
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader h1{
  font-size: 4vw;
  color: transparent;
  background: linear-gradient(to right , orange,orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
} 
#loader h1:nth-child(2){
 animation-delay: 2s;
}
#loader h1:nth-child(3){
  animation-delay: 3s;
 }
@keyframes load{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}